.photo-grid {
  display: grid;
  margin: 0 16px 64px;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin: 0 24px 88px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;  
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin: 0 48px 92px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;  
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    margin: 0 48px 92px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;  
  }
}