.header__logo {
    grid-column: 1;
    margin: 0;
    padding: 0;
    width: 176px;
    height: 52px;
}

@media screen and (max-width: 425px) {
    .header__logo {
        grid-column: 1;
        width: 142px;
        height: 42px;
    }
}