.footer__link {
  color: #FFF;
  text-decoration: none;
  margin: 0;
  justify-self: center;
  align-self: baseline;

  margin-bottom: 32px;

  font-size: 24px;
  line-height: 100%;
}

.footer__link:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer__link {
    margin-bottom: 0;
    margin-right: 18px;

    font-size: 16px;
    line-height: 112%;
  } 

  .footer__link:last-of-type {
    margin-right: 0;
  }
}