.intro {
  max-width: 288px;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto 64px;
}


@media screen and (min-width: 425px) {
  .intro {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    margin: 0 auto 88px;
    max-width: 720px;
  }
}


@media screen and (min-width: 1024px) {
  .intro {
    margin: 0 auto 92px;
    max-width: 928px;
    align-items: baseline;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    max-width: 984px;
  }
}