.lead__subtitle {
  margin: 32px 0 64px;
  padding: 0;

  max-width: 1280px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  white-space: pre-line;
}


@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px 0 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px 0 40px;
  }
}


