.place {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 0 50px;
  gap: 32px
}

.place:last-of-type {
  margin-bottom: 0;
}


@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: auto auto;
    margin: 0 0 73px;
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    margin: 0 0 80px;
    column-gap: 32px;
  }

}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 484px;
    column-gap: 40px;
  }
}